html {
  font-size: 14px;
  margin: 0;
}

body {
  margin: 0;
  background-color: #004701;
}

.l-container {
  width: 640px;
  margin: 0 auto;
}

.l-header {
  padding: 0.5rem 0;
}

.l-header__content {
  width: 640px;
  margin: 0 auto;
}

.p-header-content {
  display: flex;
  justify-content: space-between;
}

.p-page-title {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.p-text-field {
  display: block;
  font-size: 1rem;
  height: calc(4.5rem + 30px);
  width: 100%;
  border: 1px solid #777;
  border-radius: 10px;
  padding: 15px;
  resize: none;
  box-sizing: border-box;
}

.p-text-field:focus {
  outline: none
}

.p-btn {
  background-color: transparent;
  box-shadow: 0px 0px 10px 2px #f4955a, 0px 0px 10px 2px #f4955a inset;
  border: none;
  color: #f4955a;
  font-size: 0.8rem;
  padding: 0.4rem 1.2rem;
  transition-property: color, box-shadow;
  transition-duration: 0.25s;
}

.p-list-title {
  color: #fff;
  font-size: 1.1rem;
}

.p-memo-form__submit:hover {
  color: #fff;
  box-shadow: 0px 0px 10px 4px #f4955a, 0px 0px 40px 5px #f4955a inset;
}

.p-memo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #fff;
  margin-top: 20px;
}

.p-memo-list__item {
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 10px 2px #fff, 0px 0px 10px 2px #fff inset;
  border-radius: 3px;
}

.p-memo-list__item:nth-of-type(n + 2) {
  margin-top: 1.5rem;
}

.p-auth-link {
  background-color: transparent;
  color: #fff;
  border: none;
  display: inline;
  text-decoration: underline;
  font-size: 12px;
}

.p-sign-out-link:hover {
  color: #005be5;
  cursor: pointer;
}

.p-modal__background {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.p-modal__box {
 position: fixed;
 top: 50%;
 left: 50%;
 background-color: #fff;
 transform: translate(-50%, -50%);
 padding: 30px 20px;
 width: 640px;
 border-radius: 3px;
}

.p-auth-form__label {
  display: inline-block;
  width: 75px;
  color: #fff;
}

.p-auth-form__input {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #777;
  width: calc(100% - 100px); // TODO: 謎の間隔を消す
  box-sizing: border-box;
  border-radius: 2px;
}

.p-auth-form__input:focus {
  outline: none;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-text-align-right {
  text-align: right;
}
